[vpn]
wireguard ansible_host=${wireguard_instance} ansible_user=root

[instances]
podman ansible_host=${podman_instance} ansible_user=root

[instances:vars]
ansible_ssh_extra_args='-o "StrictHostKeyChecking=no" -o ProxyCommand="ssh -o StrictHostKeyChecking=no -W %h:%p root@${wireguard_instance}"'

[local]
control ansible_connection=local