[vpn]
wireguard ansible_host=${wireguard_instance} ansible_user=root

[vpn:vars]
ansible_ssh_extra_args='-o "StrictHostKeyChecking=no" -o ProxyCommand="ssh -o StrictHostKeyChecking=no -W %h:%p root@${bastion}"'

[control]
local ansible_connection=local
