encrypt_key: "${encrypt_key}"
region: "${region}"
logdna_ingestion_key: "${logdna_ingestion_key}"
sysdig_key: "${sysdig_key}"
consul_servers: "{{ groups['instances'] }}"
server_address: "${bastion}"

      
      