[Interface]
PrivateKey = {{ client_private_key }}
Address = 192.168.0.3/24

[Peer]
PublicKey = {{ server_public_key }}
PresharedKey = {{ server_preshared_key }}
Endpoint = ${bastion}:51820
AllowedIPs = 166.8.0.0/14, 192.168.0.0/28, %{ for subnetIndex, subnet in subnets ~} ${subnet.name}
${instance.name} ansible_host=${instance.primary_network_interface.0.primary_ipv4_address} ansible_user=root
%{ endfor ~}



${subnets}, ${cse_addresses}



